# ============================================================
#  Jupyter Notebook
# ============================================================
.ipynb_checkpoints/
*/.ipynb_checkpoints/
**/.ipynb_checkpoints/
*.ipynb_checkpoints

# Jupyter runtime / nbconvert output
profile_default/
ipython_config.py
nbconvert_output/
*.nbconvert.*

# JupyterLab settings
.jupyter/

# ============================================================
#  Python
# ============================================================

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd

ejemplos/notebooks/mallas
ejemplos/paralelo/mallas

